@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f3f4f6;
    --color-bg-tertiary: #e5e7eb;
    --color-text-primary: #111827;
    --color-text-secondary: #6b7280;
    --color-border-primary: #e5e7eb;
    --color-graph-L0: #ebedf0;
    --color-graph-L1: #9be9a8;
    --color-graph-L2: #40c463;
    --color-graph-L3: #30a14e;
    --color-graph-L4: #216e39;
  }

  .dark {
    --color-bg-primary: #14191e;
    --color-bg-secondary: #1f2429;
    --color-bg-tertiary: #2b3034;
    --color-text-primary: #ededed;
    --color-text-secondary: #9ca3af;
    --color-border-primary: #1f2937;
    --color-graph-L0: #1f2429;
    --color-graph-L1: #003820;
    --color-graph-L2: #00602d;
    --color-graph-L3: #10983d;
    --color-graph-L4: #27d545;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #14191e;
    --color-bg-secondary: #1f2429;
    --color-bg-tertiary: #2b3034;
    --color-text-primary: #ededed;
    --color-text-secondary: #9ca3af;
    --color-border-primary: #1f2937;
    --color-graph-L0: #1f2429;
    --color-graph-L1: #003820;
    --color-graph-L2: #00602d;
    --color-graph-L3: #10983d;
    --color-graph-L4: #27d545;
  }

  .light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f3f4f6;
    --color-bg-tertiary: #e5e7eb;
    --color-text-primary: #111827;
    --color-text-secondary: #6b7280;
    --color-border-primary: #e5e7eb;
    --color-graph-L0: #ebedf0;
    --color-graph-L1: #9be9a8;
    --color-graph-L2: #40c463;
    --color-graph-L3: #30a14e;
    --color-graph-L4: #216e39;
  }
}

body {
  @apply bg-primary text-primary;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[data-reach-menu] {
  z-index: 20;
}

[data-reach-menu-list] {
  @apply bg-secondary py-2 border border-primary !important;
}

[data-reach-menu-item] {
  @apply flex py-2 px-3 text-base text-secondary !important;
}

[data-reach-menu-item][data-selected] {
  @apply bg-tertiary !important;
}

.slide-up[data-reach-menu-list],
.slide-up[data-reach-menu-items] {
  @apply animate-slide-up;
}

[data-reach-skip-link]:focus {
  @apply bg-secondary text-sm p-3 rounded-md outline-none ring-2 z-30 !important;
}

.navbar {
  transition: transform 300ms ease;
}

.navbar-hidden {
  transform: translate3d(0,calc(78px*-1),0);
}

@media (min-width: 768px) {
  .navbar-hidden {
    transform: translate3d(0,calc(110px*-1),0);
  }
}

footer ul > li {
  margin-bottom: 16px;
}

[data-level="0"] {
  fill: var(--color-graph-L0);
}

[data-level="1"] {
  fill: var(--color-graph-L1);
}

[data-level="2"] {
  fill: var(--color-graph-L2);
}

[data-level="3"] {
  fill: var(--color-graph-L3);
}

[data-level="4"] {
  fill: var(--color-graph-L4);
}

.svg-tooltip {
  position: absolute;
  z-index: 99999;
  padding: 10px;
  font-size: 12px;
  color: #484f58;
  text-align: center;
  background: rgba(0,0,0,.8);
  border-radius: 6px;
}

.svg-tooltip strong {
  color: #dfe2e5;
}
